<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎下载</title>
</head>
<body>
<h1>欢迎：<span th:if="${session.user != null}" th:text="${session.user.getUserUsername()}"/></h1>
<h1>文件列表：</h1>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>文件原始名称</th>
        <th>文件新名称</th>
        <th>文件后缀</th>
        <th>存储路径</th>
        <th>文件大小</th>
        <th>类型</th>
        <th>是否是图片</th>
        <th>下载次数</th>
        <th>上传时间</th>
        <th>操作</th>
    </tr>
    <tr th:each="file,fileStatus:${session.fileList}">
        <th><span th:text="${file.getFileId()}"/></th>
        <th><span th:text="${file.getFileOldfilename()}"/></th>
        <th><span th:text="${file.getFileNewfilename()}"/></th>
        <th><span th:text="${file.getFileExt()}"/></th>
        <th><span th:text="${file.getFilePath()}"/></th>
        <th><span th:text="${file.getFileSize()}"/></th>
        <th><span th:text="${file.getFileType()}"/></th>
        <th><span th:text="${file.getFileIsimg()}"/><img src=""></th>
        <th><span th:text="${file.getFileDowncounts()}"/></th>
        <th><span th:text="${file.getFileUploadtime()}"/></th>
        <th>
            <a href="">下载</a>
            <a href="">在线打开</a>
            <a href="">删除</a>
        </th>
    </tr>
</table>
<hr>
<h3>上传文件</h3>
<form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="上传文件">
</form>
</body>
</html>